body{
    background: #eaeaea;
}

header{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
}

.navigation{
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navigation a{
   float: left;
   text-align: center;

   width: calc(100%/3);
   padding-top: 10px;
   padding-bottom: 10px;

   background: gray;
   transition-property: background;
   transition-duration: 0.5s;

   text-decoration: none;
}

.navigation a:hover{
   background: red;
}

footer{
    width: 100%;
    background: gray;
    text-align: center;
    padding: 5px 0 5px 0;
    z-index: 100;
}