.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

p{
    text-align: center;
}

.item{
    padding: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    width: 25%;
}

img{
    width: 100%;
}

.item:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .item {
      width: 50%;
    }
  }
  
@media screen and (max-width: 600px) {
    .item {
        width: 100%;
    }
}